/* Hide scrollbar for Chrome, Safari and Opera */
/* Hide scrollbar for Chrome, Safari, and Opera */
html.editing,
body.editing {
    overflow: hidden;
    /* Prevent scrolling altogether */
}

/* For specific scrollable elements, consider targeting them individually */
html.editing::-webkit-scrollbar,
body.editing::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html.editing,
body.editing {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Optional - Ensure this applies to specific scrollable elements if needed */
.editing .scrollable {
    overflow: hidden;
    /* Prevents overflow and scrollbar appearance */
}

/* Ensure these rules don't conflict with other visual effects */
body.wf-initial-load *,
html.wf-initial-load * {
    color: transparent !important;
    -webkit-text-stroke: 0px transparent;
    text-shadow: none !important;
}

html.wf-initial-load hr {
    background: none !important;
}


/*  Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --color-text: #000000;
    --color-background: #ecebea;
    --font-family: serif;
    /* Mobile Typography */
    --line-height-default: 1.4;
    --mobile-padding-offset: 0.5;
    --font-family: 'EB Garamond', monospace;
}

body {
    font-size: clamp(23px, 1vw + 0.5rem, 35px);
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

.page-layout {
    max-width: 100%;
    font-family: var(--font-family);
}

.page-content {
    padding-top: calc(3rem * var(--mobile-padding-offset));
    padding-right: calc(3rem * var(--mobile-padding-offset));
    padding-bottom: calc(3rem * var(--mobile-padding-offset));
    padding-left: calc(8rem * var(--mobile-padding-offset));
    overflow-wrap: break-word;
}

.page-content {
    padding-bottom: 4em;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h1 {
    text-transform: capitalize;
}

h2.pretitle {
    margin-bottom: 15vh;
}

h1.title {
    font-size: 4em;
    line-height: 1.2;
    margin-bottom: 2rem;
}

h2.subtitle {
    margin-bottom: 20vh;
}

.text-body p:not(:first-of-type)::before {
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0"
}

.text-body {
    line-height: var(--line-height-default);
}

span.highlighted {
    margin: 6rem 0 2rem 0;
    display: inline-block;
    border: 0.1rem solid rgba(0, 0, 0, 0.85);
    padding: 0.3rem 0.6rem 0.5rem 0.8rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.85) 0.3rem 0.3rem 0rem);
    will-change: filter;
    font-size: 1.2em;
    background: var(--color-background);
}

@media screen and (min-width: 950px) {
    body {
        font-size: clamp(20px, 1vw + 0.5rem, 28px);
    }

    .page-layout {
        max-width: 1200px;
        margin: 0 auto;
    }
}
