/* ---------------------------------------------------
   GLOBAL RESETS & BASE STYLES
--------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root variables */
:root {
    --color-text: #000;
    --color-background: #ecebea;
    --font-family: 'EB Garamond', serif;
    --line-height-default: 1.4;
    --mobile-padding-offset: 0.5;
}

/* Base HTML and body styles */
html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    font-family: var(--font-family);
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

/* Responsive font scaling */
body {
    font-size: clamp(23px, 1vw + 0.5rem, 35px);
    line-height: var(--line-height-default);
    color: var(--color-text);
}

/* ---------------------------------------------------
   SCROLLBAR HIDING
--------------------------------------------------- */

html,
body {
    /* Keep scrolling instead of hidden */
    overflow: auto;
    /* IE/Edge */
    -ms-overflow-style: none;
    /* For Firefox */
    scrollbar-width: none;
}

/* For Chrome, Safari, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------------------------
   LAYOUT
--------------------------------------------------- */

.page-layout {
    max-width: 100%;
    margin: 0 auto;
}

/* Main content container */
.page-content {
    padding: calc(3rem * var(--mobile-padding-offset)) calc(3rem * var(--mobile-padding-offset)) calc(3rem * var(--mobile-padding-offset)) calc(8rem * var(--mobile-padding-offset));
    overflow-wrap: break-word;
    /* Additional bottom space */
    padding-bottom: 4em;
}

/* Larger Screens */
@media screen and (min-width: 950px) {
    .page-layout {
        max-width: 1200px;
    }

    body {
        font-size: clamp(20px, 1vw + 0.5rem, 28px);
    }
}

/* ---------------------------------------------------
   TYPOGRAPHY
--------------------------------------------------- */

h1,
h2,
h3 {
    font-weight: 400;
}

/* Title Styles */
h2.pretitle {
    margin-bottom: 15vh;
}

h1.title {
    text-transform: capitalize;
    font-size: 4em;
    line-height: 1.2;
    margin-bottom: 2rem;
}

h2.subtitle {
    margin-bottom: 20vh;
}

/* Indent new paragraphs */
.text-body p:not(:first-of-type)::before {
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0";
}

/* Space paragraphs */
.text-body p {
    margin-bottom: 0.5rem;
}

/* Text Highlight */
span.highlighted {
    margin: 6rem 0 2rem 0;
    display: inline-block;
    border: 0.1rem solid rgba(0, 0, 0, 0.85);
    padding: 0.3rem 0.6rem 0.5rem 0.8rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.85) 0.3rem 0.3rem 0rem);
    will-change: filter;
    font-size: 1.2em;
    background: var(--color-background);
}
